<div>
    <h1>Bienvenido {{admin.first_name}}!</h1>
    <p>Email: {{admin.email}}</p>
    <p>Role: {{admin.role}}</p>
    <br>
    {{#if users}}
    {{#each users}}
    <h3>Email: {{this.email}}</h3>
    <p>Nombre y Apellido: <strong>{{this.first_name}} {{this.last_name}}</strong></p>
    <p>User ID: <strong>{{this._id}}</strong></p>
    <p>Rol: {{this.role}}</p>
    <form id="updateUserForm-{{this._id}}">
        <select name="role">
            <option value="user">User</option>
            <option value="premium">Premium</option>
            <option value="admin">Admin</option>
        </select>
        <button type="button" onclick="updateUser('{{this._id}}')">Actualizar rol</button>
    </form>
    <br>
    <form id="deleteUserForm-{{this._id}}">
        <button type="button" onclick="deleteUser('{{this._id}}')">Eliminar Usuario</button>
    </form>
    <br>
    {{/each}}
    {{else}}
    <p>No hay usuarios para mostrar</p>
    {{/if}}
</div>

<script>
    async function updateUser(uid) {
        const form = document.getElementById(`updateUserForm-${uid}`);
        const newRole = form.querySelector('select[name="role"]').value;

        try {
            const response = await fetch(`/api/users/updateUser/${uid}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ role: newRole })
            });

            if (!response.ok) {
                throw new Error('Error al actualizar el rol del usuario');
            }

            const data = await response.json();
            alert('Rol actualizado correctamente');
            window.location.reload();
        } catch (error) {
            console.error('Error:', error);
            alert('Hubo un error al actualizar el rol del usuario');
        }
    }

    async function deleteUser(uid) {
        try {
            const response = await fetch(`/api/users/deleteUser/${uid}`, {
                method: 'DELETE'
            });

            if (!response.ok) {
                throw new Error('Error al eliminar el usuario');
            }

            const data = await response.json();
            alert('Usuario eliminado correctamente');
            window.location.reload();
        } catch (error) {
            console.error('Error:', error);
            alert('Hubo un error al eliminar el usuario');
        }
    }
</script>
