<h1>Lista de productos</h1>
<div class="container">
    <div class="row">
        {{#each products.docs}}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{thumbnail}}" alt="{{title}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">Precio: ${{price}}</p>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="row">
            <div class="col-sm-4">
                {{#if products.hasPrevPage}}
                <a href="http://localhost:8080/products?limit=10&page={{products.prevPage}}" class="btn btn-primary">&laquo; Página Anterior</a>
                {{/if}}
            </div>
            <div class="col-sm-4 text-center">
                Página {{products.page}} de {{products.totalPages}}
            </div>
            <div class="col-sm-4 text-right">
                {{#if products.hasNextPage}}
                <a href="http://localhost:8080/products?limit=10&page={{products.nextPage}}" class="btn btn-primary">Página Siguiente &raquo;</a>
                {{/if}}
            </div>
        </div>

    </div>
</div>