<div>
    <div>
        <h1>Tu perfil</h1>
        <p>Nombre: {{user.first_name}} {{user.last_name}} -- Rol: {{user.role}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>

        <a href="/products"><button>Productos</button></a>
        <a href="/tickets"><button>Ver tus tickets</button></a>
        <a href="/api/sessions/logout"><button>Cerrar sesión</button></a>
    </div>
    <hr>
    {{#if cart}}
    <div>
        <h3>Tu carrito - ID: {{cart._id}}</h3>
        {{#each cart.products}}
        <p>Nombre: {{this.product.title}}</p>
        <p>Precio: ${{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <button onclick="deleteProduct('{{../cart._id}}', '{{this.product._id}}')"
            class="btn btn-danger">Eliminar</button>
        {{/each}}
        <div>
            <button onclick="buyCart('{{cart._id}}')" class="btn btn-success">Finalizar compra</button>
        </div>
        {{else}}
        <p>Tu carrito está vacío</p>
    </div>
    {{/if}}
</div>


<script>
    function deleteProduct(cid, pid) {
        if (confirm("¿Estás seguro de que quieres eliminar este producto del carrito?")) {
            fetch(`/api/carts/${cid}/product/${pid}`, {
                method: 'DELETE',
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al eliminar el producto del carrito');
                    }
                })
                .then(response => {
                    if (response.status === 200) {
                        window.location.reload();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Hubo un error al eliminar el producto del carrito');
                });
        }
    }

    function buyCart(cid) {
        fetch(`/api/carts/${cid}/purchase`, {
            method: 'POST',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al completar la compra');
                }
                return response.json();
            })
            .then(data => {
                alert('Compra completada correctamente');
                window.location.replace('/tickets');
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un error al completar la compra');
            });
    }
</script>