<h1>Agregar Nuevo Producto</h1>

<form id="addProductForm">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code" required>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" step="0.01" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description">

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category">

    <label for="image">Imagen:</label>
    <input type="text" id="image" name="image" required>

    <button type="submit">Agregar Producto</button>
</form>

<div id="list-products">
    <h2>Lista de Productos</h2>
    <ul id="products-list">
        {{#each products.docs}}
        <li>Nombre: {{title}}, Precio: {{price}}, Código: {{code}}, Descripción: {{description}}
        </li>
        {{/each}}
    </ul>
    <div class="row">
        <div class="col-sm-4">
            {{#if products.hasPrevPage}}
            <a href="http://localhost:8080/?page={{products.prevPage}}" class="btn btn-primary">&laquo;
                Página Anterior</a>
            {{/if}}
        </div>
        <div class="col-sm-4 text-center">
            Página {{products.page}} de {{products.totalPages}}
        </div>
        <div class="col-sm-4 text-right">
            {{#if products.hasNextPage}}
            <a href="http://localhost:8080/?page={{products.nextPage}}" class="btn btn-primary">Página
                Siguiente &raquo;</a>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/index.js"></script>