<div>
    <br>
    {{#if tickets}}
    {{#each tickets}}
    <div>
        <h2>Ticket: {{this.code}}</h2>
        <p>Fecha: {{this.purchase_datetime}}</p>
        {{#each this.products}}
        <p>Producto: {{this.product.title}} - {{this.product.price}} .............. x {{this.quantity}}</p>
        {{/each}}
        <p>Total: {{this.amount}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>Aún no tienes compras realizadas.</p>
    {{/if}}
    <br>
</div>
<a href="/profile">Volver al perfil</a>